.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  background-color: white;
  padding: 93px 50px 95px 50px;
  margin: 0;
  font-family: Raleway, sans-serif;
}

.header__menu {
  align-items: left;
  justify-items: stretch;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 31px;
  justify-content: space-between;
  padding: 0;
}

.header__links-list-item {
  align-items: center;
  justify-items: stretch;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  align-items: center;
}

.address {
  max-width: 240px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0;
  justify-self: start;
  margin-left: 185px;
}

.cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color: white;
  padding: 165px 50px 50px 50px;
  margin-bottom: 180px;
}

.overlay {
  background-color: rgb(0 0 0/0.6);
  z-index: 1;
  position: absolute;
  inset: 0;
}

.cover__title {
  z-index: 2;
  position: relative;
  font-size: 100px;
  line-height: 115%;
  margin-bottom: 106px;
}

.aligned-text {
  text-align: left;
  display: block;
  padding-bottom: 20px;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding-left: 20px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  padding-bottom: 0px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  align-items: center;
}

.cover__description-text {
  color: white;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 0.82em;
  z-index: 2;
}

.bet-button {
  background-color: transparent;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  width: 256px;
  height: 51px;
  z-index: 2;
}

.lots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 120px;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 30px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-grow: 1;
}

.card {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  height: 100%;
  flex-direction: row;
  text-decoration: none;
  text-decoration-color: white;
  z-index: 3;
}

.card__title {
  color: white;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  letter-spacing: 0em;
  z-index: 3;
  margin-top: 48px;
  margin-right: 40px;
  margin-left: 40px;
}

.card__text {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  z-index: 3;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 48px;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0em;
  flex-direction: row;
  position: relative;
}

.about {
  display: grid;
  grid-template-columns: 287px 740px;
  gap: 72px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 180px;
}

.about__column {
  width: 693px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 117.5%;
  text-transform: uppercase;
}

.about__text {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: black;
}

.about__text p {
  margin-bottom: 24px;
  margin-top: 0;
}

.about__text p:last-child {
   margin-bottom: 0px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  align-items: self-start;
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.footer__address {
  justify-self: start;
  margin-left: 0px;
  margin-bottom: 82px;
}

.footer__menu {
  align-items: first baseline;
  justify-items: stretch;
  justify-content: center;
}

.footer__menu-list {
  align-items: center;
  text-align: center;
}

.footer__menu-list-item {
  align-items: center;
  justify-items: center;
  list-style: none;
}

.footer__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  min-width: 240px;
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-list-item {
  justify-content: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}